@page "/projects"
@using Cabal_of_Programmers_Website.Data
@inherits OwningComponentBase<Cabal_of_Programmers_Website.Services.ProjectService>

<!-- I am gonna have to deal with this shit tomorrow :P-->

<h3>Projects</h3>
<div class="card-deck">
    <!--<div class="col">-->
            @*<div style="text-align: center;" class="card">
            <div class="card-img">
                <img style="width:100%; height:auto" src="https://user-images.githubusercontent.com/73722314/116011990-d68bf880-a5f5-11eb-8aca-0064b93ba2ac.png" />
            </div>
            <div class="card-body">
                <div class="card-title"><h3>Nail Programming Language</h3></div>
                <div class="card-description"><p style="text-align:left;">Safely-typed scripting language written in Rust. Nail itself has been inspired by Rust but does not include the low-level functionality. However, what the language lacks in low-level functionality, it makes up for it in its ease of use and readability.</p></div>
                <div style="text-align:left" class="card-footer">
                    <a href="https://github.com/HARDIntegral/Nail">
                        <button type="button" class="btn btn-primary">
                            <img src="/images/icons/github.svg" />
                            Github
                        </button>
                    </a>
                </div>
            </div>
        </div>*@
            @foreach (var project in projects)
            {
                <div class="col">
                    <div class="row align-content-start">
                        <div style="width: 250px; text-align: center;" class="card">
                            <div class="card-img">
                                <img style="height: 200px; width: 250px;" src="@project.imglink" alt="Project image"/>
                            </div>
                            <div class="card-body">
                                <div class="card-title">
                                    <h3>@project.name</h3>
                                </div>
                                <div class="card-body">
                                    <p style="text-align: left;">@project.description</p>
                                </div>
                                <div style="text-align: left" class="card-footer">
                                    <a class="btn btn-primary" href="@project.repolink" role="button">
                                        <img src="/images/icons/github.svg" alt="Github logo">
                                        GitHub
                                    </a>
                                </div>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Date posted: @project.dateposted</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
</div>

@code {
    public IList<ProjectModel> projects;

    protected override void OnInitialized()
    {
        projects = Service.displayProjects();
    }

}